html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
html {
  margin: 0;
  padding: 0;
  outline: 0;
  background-color: #f4f4f4;
}
body {
  margin: 0;
  padding: 0;
  outline: 0;
  min-width: 320px;
  font-family: open sans, Helvetica, sans-serif;
  font-style: normal;
  font-size: 17px;
  color: #3b3b3b;
  font-weight: 400;
}
a {
  color: #3b3b3b;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img {
  max-width: 100%;
  height: auto;
}
@media \0screen {
  img {
    width: auto;
  }
}
h1 {
  font-weight: 600;
  color: #ff8000;
  font-size: 1.5em;
}
h2 {
  font-weight: 600;
  color: #ff8000;
  font-size: 1.3em;
}
h3 {
  font-weight: 400;
  font-size: 1.2em;
}
h4 {
  font-weight: 600;
  color: #363636;
  font-size: 1.1em;
}
#contenedorPrincipal {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-width: 1170px;
  background-color: #f4f4f4;
}
#contenido {
  margin: 0 2%;
  padding-top: 20px;
}
#cabecera {
  width: 100%;
  min-height: 150px;
  background-color: #060105;
}
#cabecera .wrap {
  width: 100%;
  max-width: 1280px;
}
#pie {
  width: 100%;
  margin-top: 0;
  text-align: center;
  background-color: #e8e7e3;
  color: #3c3b3b;
}
#pie .wrap {
  padding: 2em 3%;
  min-height: 110px;
}
#pie nav {
  clear: both;
  margin: 2em auto 0;
  max-width: 640px;
}
#pie nav .link {
  margin-top: 0.7em;
}
#pie nav .link a {
  color: #3c3b3b;
}
.izq {
  width: 100%;
}
.colDer {
  width: 100%;
  margin-top: 1.7em;
}
.col3 {
  width: 100%;
}
.col65,
.col35,
col50i,
col50d {
  width: 100%;
  background-color: #fff;
  margin-top: 1.5em;
}
#contenido p {
  text-align: justify;
}
#botoneraPrincipal,
#botoneraMobile {
  display: none;
}
.botoneraMobile {
  display: none;
  z-index: 101;
  position: fixed;
  top: 0;
  right: -782px;
  width: 285px;
  height: 100%;
  margin-top: 48px;
  background-color: #060105;
}
.botoneraMobile .cabMenu {
  height: 33px;
  background-color: #dedede;
}
.botoneraMobile .cabMenu span {
  vertical-align: middle;
  line-height: 32px;
  font-size: 1.1em;
}
.botoneraMobile .cabMenu a {
  color: #c52101;
  vertical-align: middle;
  line-height: 31px;
}
.botoneraMobile .cabMenu .act {
  color: #f86104;
}
.botoneraMobile .navSocial {
  float: left;
  width: 72%;
  height: 33px;
}
.botoneraMobile .navSocial a {
  display: inline-block;
  height: 33px;
  padding-left: 7%;
  padding-right: 8%;
  border-right: 1px solid #7a7a7a;
}
.botoneraMobile .navSocial a > img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
.botoneraMobile .opExpandible:after {
  margin-left: 3px;
  vertical-align: top;
  content: url(../imagenes/body/tri_menu_mob.png);
}
.botoneraMobile .navMobile > li.activo .opExpandible:after,
#botoneraMobile .navMobile > li:hover .opExpandible:after {
  margin-left: 3px;
  vertical-align: top;
  content: url(../imagenes/body/tri_menu_mob_act.png);
}
.botoneraMobile .searchCriteriaMob {
  width: 85%;
  padding: 3px 1%;
  font-size: 1.3em;
  color: #000;
  background-color: #dedede;
  border: 1px solid #888788;
}
.botoneraMobile .btn {
  cursor: pointer;
  padding: 0.3em 1.6em;
  background-color: #929191;
  color: #fff;
  font-size: 1.1em;
  text-decoration: none;
  border: 0;
  min-height: 2.1em;
  max-width: 150px;
  font-weight: 600;
  text-align: center;
}
.bgMenuMobile {
  clear: both;
  width: 90%;
  padding: 15px 5%;
  height: 80vh;
  overflow-y: auto;
}
#menuSearch .bgMenuMobile {
  background-color: #e0e0e0;
  border-top: 1px solid #b3b2b3;
  text-align: center;
}
.icnCerrar {
  display: block;
  float: right;
  width: 31px;
  height: 31px;
  margin-right: 7%;
  margin-top: 1px;
}
.icnCerrar:before {
  content: url(../imagenes/body/iconos/icnCerrar.png);
}
.navMobile {
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navMobile > li {
  line-height: 1.4em;
  margin: 0;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  wrap: no-wrap;
  border-top: 1px solid #434242;
  text-align: left;
  font-size: 1.1em;
}
.navMobile > li:first-child {
  border: 0;
}
.navMobile > li > a {
  display: block;
  width: 88%;
  padding-left: 1%;
  padding-right: 7%;
  color: #fff;
  font-weight: 400;
}
.navMobile li:hover,
.navMobile li.activo {
  color: #a4d04b;
  text-decoration: none;
}
.navMobile li:hover,
.navMobile li.activo a {
  color: #a4d04b;
  text-decoration: none;
}
.navMobile a:hover {
  text-decoration: none;
  color: #a4d04b;
}
.navMobile .opNivel2 {
  display: none;
  margin: 0;
  padding: 0;
  border: 0;
}
.navMobile .subNavMobile {
  list-style: none;
  background-color: #060105;
  margin: 0;
  padding: 0 0 20px 6%;
}
.navMobile .subNavMobile > li {
  line-height: 1.4em;
  margin: 0;
  padding: 0.2em 0;
  wrap: no-wrap;
  text-align: left;
}
.navMobile .subNavMobile > li > a {
  display: block;
  padding-left: 9%;
  color: #fff;
}
.subNavMobile li:hover,
.subNavMobile li.activo a {
  color: #a4d04b;
  text-decoration: none;
}
.icnDespliega {
  max-width: 9px;
  margin-left: 7px;
  vertical-align: middle;
}
#cabTop {
  z-index: 101;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #060105;
  min-height: 38px;
  padding-top: 10px;
}
.interact {
  display: none;
}
#logo {
  float: left;
  width: 63%;
  max-width: 300px;
  margin: 0 0 0 2%;
}
.interactMobile {
  float: right;
  width: 90px;
  margin: 5px 1% 0 0;
}
.interactMobile .show-srch {
  vertical-align: middle;
}
.interactMobile .show-menu {
  margin-left: 25%;
  vertical-align: middle;
}
.interactMobile img {
  max-width: 21px;
}
#cabecera .fondo {
  position: relative;
  margin-top: 40px;
  height: 150px;
  background: url(../imagenes/body/fondoCab.jpg) no-repeat center center;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}
#cabecera .todosDiasInternacionales {
  position: absolute;
  color: #f3f3f3;
  width: 85%;
  top: 30px;
  margin: 0 7.5%;
  text-align: center;
  padding: 0;
  font-weight: 400;
  font-size: 0.9em;
  z-index: 10;
}
#cabecera .todosDiasInternacionales a {
  text-decoration: none;
  color: #f3f3f3;
}
#cabecera .since {
  color: #d3eba1;
  position: absolute;
  bottom: 5%;
  text-align: right;
  right: 6%;
  font-weight: 400;
  font-size: 0.9em;
  padding: 0;
  z-index: 10;
}
.subNav {
  display: none;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 148px;
  padding-bottom: 0.3em;
  background-color: #292929;
  min-height: 90px;
}
.subNav .wrapSubot {
  overflow: hidden;
  margin: 0 auto;
  padding: 0 3%;
  max-width: 900px;
  font-size: 1em;
  color: #fff;
}
.subNav .mes,
.subNav .item {
  float: left;
  width: 14%;
  padding: 10px 8px;
}
.subNav .item {
  float: left;
  width: 18%;
  padding: 10px 1%;
}
.subNav .mes a,
.subNav .item a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 4px 10px;
}
.subNav .activo a,
.subNav .mes a:hover,
.subNav .item a:hover {
  color: #a4d04b;
}
.seccion {
  clear: both;
  width: 100%;
  overflow: hidden;
  margin-top: 2em;
}
.seccion h2,
.QueSeCelebraHoy,
.SemanasInternacionales,
.AniosInternacionales,
.SantoralHoy {
  margin-top: 0;
  padding-left: 1%;
  font-size: 1.35em;
  color: #ff8000;
  text-decoration: underline;
}
.SemanasInternacionales,
.AniosInternacionales {
  padding-left: 0;
}
h2.solapa {
  margin-left: 0;
  padding: 0.3em 2.5%;
  font-size: 1.35em;
  color: #3b3b3b;
  background-color: #d3eba1;
  text-decoration: none;
}
.seccionBlanco {
  clear: both;
  width: 90%;
  margin-top: 1.5em;
  padding: 1.5em 5% 1.2em;
  background-color: #fff;
}
.copy p {
  line-height: 1.6em;
  padding-right: 1.5%;
}
.copy li {
  margin-top: 0.5em;
}
.copy a {
  color: #4a8ad8;
  font-weight: 600;
}
.seccionBlancoLT,
.bqSantoral {
  clear: both;
  width: 94%;
  margin-top: 1.5em;
  padding: 1.5em 3% 1.2em;
  background-color: #fff;
}
.izq .seccionBlanco {
  margin-top: 0;
  padding-top: 0.2em;
}
.bqTexto {
  clear: both;
  margin-top: 1.5em;
  line-height: 1.7em;
  color: #363636;
}
.bqSantoral {
  margin-top: 0;
  padding: 0.5em 5% 1.2em 3%;
}
.SantoralHoy {
  margin-top: 1.6em;
}
.enmar {
  background-color: #cdea92;
  padding: 0 3px;
  font-weight: 600;
}
.bqDestacado,
.bqDestacadoV {
  clear: both;
  width: 95%;
  max-width: 320px;
  margin: 0 auto;
  padding: 0.5em 2.5%;
  background-color: #fff;
}
.bqDestacadoV .img,
.bqDestacado .img,
#ficha .bqDestacado .img {
  margin: 1em auto 0.6em;
  display: block;
  text-align: center;
  max-width: 305px;
}
.bqDestacado .fecha,
.bqDestacadoV .fecha,
.bqDestacadoV .paises {
  margin-top: 0.7em;
  color: #4a8ad8;
  font-weight: 600;
  font-size: 0.9em;
}
.bqDestacado .resumen,
.bqDestacadoV .resumen {
  margin-top: 0.4em;
  line-height: 1.6em;
}
.bqDestacado .titComp,
.bqDestacadoV .titComp {
  margin: 0.5em 0 0;
  font-weight: 600;
}
.bqDestacadoV .paises {
  margin-top: 0.3em;
  color: #ff8000;
}
.bqDestacado .resumen {
  color: #767676;
}
.bqDestacado .border {
  clear: both;
  width: 100%;
  height: 2px;
  border-bottom: 1px solid #d0cece;
}
.bqDestacado .fecha,
.bqDestacado .paises {
  margin-top: 0.3em;
}
.bqDestacado .descNoImage {
  padding-bottom: 1em;
}
.bqDestacadoV {
  margin-top: 1.5em;
  min-height: 385px;
}
.bqDestacadoV .img {
  min-height: 240px;
}
.bqDestacadoV .descNoImage {
  margin-top: 1.5em;
  padding: 2% 0;
}
.diasRelacionados {
  clear: both;
  width: 100%;
  overflow: hidden;
  margin-top: 2em;
}
.diasRelacionados .dias {
  clear: both;
  width: 90%;
  margin-top: 0.3em;
  padding: 1.3em 5% 1.2em;
  background-color: #fff;
}
.diasRelacionados .resumenArticulo {
  line-height: 1.6em;
  font-weight: 600;
  color: #3b3b3b;
  margin-bottom: 1.5em;
}
.leerMas {
  clear: both;
  width: 98%;
  text-align: right;
  margin-right: 2%;
  font-weight: 600;
  font-size: 1.1em;
}
.diasRelacionados .bqDestacado h3,
#ficha .diasRelacionados .bqDestacado h3 {
  font-weight: 600;
  margin: 0;
}
.diasRelacionados .bqDestacado h3 > a {
  color: #0286c3;
}
.diasRelacionados .bqDestacado .border {
  height: 1em;
}
#ficha .diasRelacionados .bqDestacado .celeste {
  color: #000;
}
.diasRelacionados.reducido .img {
  margin: 1em auto 0.6em;
  display: block;
  text-align: center;
  max-width: 305px;
}
.diasRelacionados.reducido .desc {
  margin-top: 0.5em;
}
.tituloDestacado,
.enlaceDestacado {
  margin-top: 0.5em;
  color: #060105;
  font-size: 1.1em;
  font-weight: 600;
}
.tituloDestacado a {
  color: #060105;
  text-decoration: underline;
}
.articuloTexto,
.efemerides .efemeride {
  clear: both;
  width: 100%;
  margin-top: 1.5em;
}
.articuloTexto {
  font-size: 1.1em;
}
.articuloTexto.indent {
  padding: 0 4%;
}
.articuloTexto .fecha {
  color: #4a8ad8;
  font-weight: 600;
}
.articuloTexto .subtitulo,
.efemerides .efemeride .subtitulo {
  color: #4a8ad8;
  font-weight: 600;
  margin-top: 0.3em;
  font-size: 0.9em;
}
.articuloTexto .proclamado {
  color: #4a8ad8;
  font-weight: 600;
  margin-top: 0.3em;
}
.articuloTexto h3 {
  font-size: 1.1em;
  font-weight: 600;
  margin: 0.3em 0 0;
}
.articuloTexto h3 a,
.efemerides .efemeride h3 a {
  color: #3b3b3b;
}
.efemerides .efemeride .fecha,
.efemerides .efemeride .anyo {
  font-size: 1.1em;
  font-weight: 600;
}
.efemerides .efemeride h3 {
  font-size: 1.1em;
  margin: 0.3em 0 0;
}
.listaDias .dia {
  clear: both;
  width: 100%;
  margin-top: 0.6em;
  font-size: 1em;
  line-height: 1.6em;
}
.dia .fecha {
  color: #0286c3;
}
.listaDias .dia h3 {
  display: inline;
  font-size: 1em;
}
.listaDias .dia a,
#ficha .cuerpo .dia a {
  color: #000;
}
.colDer .listaDias .dia h3 {
  display: block;
  margin-top: 0.1em;
}
.dia h3 .paises {
  font-size: 0.85em;
}
.meses {
  margin: auto;
  overflow: hidden;
}
.meses div {
  float: left;
  width: 40%;
  margin: 0.3em 3%;
  padding: 0.3em 1.5%;
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1.7em;
  text-align: center;
}
.meses .selected,
.meses div:hover {
  background-color: #d3eba1;
}
.meses a,
#ficha .cuerpo .meses a,
.efemerides-mes a {
  color: #000;
}
.meses a:hover {
  text-decoration: none;
}
.efemerides-mes span {
  color: #5f8b03;
}
.diasInternacionalesMes,
.santosMes,
.efemerides-mes,
.dias-raros-mes,
.otros-dias-mes {
  clear: both;
  margin-top: 1.5em;
}
.diasInternacionalesMes .dia,
.santosMes .dia,
.efemerides-mes .dia,
.dias-raros-mes .dia,
.otros-dias-mes .dia {
  clear: both;
  width: 100%;
  margin-top: 1em;
  font-weight: 600;
}
.diasInternacionalesMes .dia h3,
.santosMes .dia h3,
.efemerides-mes .dia h3,
.dias-raros-mes .dia h3,
.otros-dias-mes .dia h3 {
  margin-top: 0.3em;
  font-size: 1.1em;
}
.diasInternacionalesMes a,
.santosMes a,
.dias-raros-mes a,
.otros-dias-mes a {
  color: #000;
}
.diasInternacionalesMes a.diaOficial {
  color: #0258a1;
}
.diasInternacionalesMes a.diaPopular,
.otros-dias-mes a.diaPopular {
  color: #5f8b03;
}
.diasInternacionalesMes a:hover,
.santosMes a:hover,
.dias-raros-mes a:hover,
.otros-dias-mes a:hover {
  text-decoration: none;
}
.diasInternacionalesMes h3 a,
.santosMes h3 a,
.dias-raros-mes h3 a,
.otros-dias-mes h3 a,
.diasInternacionalesMes h3 a:hover,
.santosMes h3 a:hover,
.dias-raros-mes h3 a:hover,
.otros-dias-mes h3 a:hover {
  text-decoration: underline;
}
.santosMes span {
  color: #0258a1;
}
.leyendaDias {
  clear: both;
  margin-top: 1.5em;
}
.leyendaDias .tipo:before {
  content: "";
  padding-left: 3%;
  margin-left: 4%;
  margin-right: 5px;
  line-height: 1em;
}
.leyendaDias .leyendaDiaOficial:before {
  background-color: #0258a1;
  color: #0258a1;
  margin-left: 0;
}
.leyendaDias .leyendaNoOficial:before {
  background-color: #3b3b3b;
  color: #3b3b3b;
}
.leyendaDias .leyendaDiaPopular:before {
  background-color: #5f8b03;
  color: #5f8b03;
}
.colDer .link,
.colDer .articulo {
  font-size: 1.1em;
  margin-top: 0.5em;
  font-weight: 600;
}
.colDer .articulo h3 {
  font-size: 1em;
}
.como-hoy {
  clear: both;
  width: 100%;
  margin-top: 1.5em;
}
.como-hoy h2.cab {
  background-color: #000;
  color: #fff;
  font-weight: 400;
  margin: 0;
  padding: 0.6em 3%;
}
.como-hoy .efemerides-resumen {
  width: 100%;
  padding: 0.5em 0;
  background-color: #5b5b5b;
  color: #fff;
  overflow: hidden;
}
.como-hoy .pie {
  background-color: #858383;
  font-size: 0.9em;
  overflow: hidden;
}
.como-hoy .pie div {
  padding: 0.7em 3%;
}
.como-hoy a {
  color: #fff;
}
.efemerides-resumen .efemeride {
  margin: 0.7em 3% 0.4em;
  border-bottom: 1px solid #767575;
}
.efemerides-resumen .efemeride h3 {
  font-size: 0.9em;
  font-weight: 300;
}
.efemerides-resumen .efemeride .anyo {
  color: #78c7fe;
}
.efemeride.noborder {
  border: 0;
}
.publiSimulada {
  clear: both;
  max-width: 320px;
  width: 90%;
  min-height: 300px;
  margin: 1.3em auto 0;
  padding: 0.5em 2.5%;
  background-color: #fff;
}
.bqPubliV,
.bqAdsV {
  width: 100%;
  max-width: 320px;
  min-height: 360px;
  margin: 0 auto;
}
.bqPubliV.stBQ,
.bqAdsV.stBQ {
  margin-top: 1.5em;
}
.bqPubliEsp {
  clear: both;
  width: 100%;
  margin-top: 2em;
  text-align: center;
}
#ficha .bqPubliEsp {
  margin-top: 1em;
}
@media all and (min-width: 540px) {
  body {
    font-size: 18px;
  }
  #contenido {
    margin: 0 4%;
  }
  #logo {
    max-width: 350px;
    margin: 5px 0 0 5%;
  }
  #cabTop {
    min-height: 50px;
  }
  #cabecera .todosDiasInternacionales {
    top: 40px;
  }
  .botoneraMobile {
    width: 420px;
    margin-top: 60px;
  }
  .interactMobile {
    width: 140px;
    margin: 10px 0 0;
  }
  .interactMobile img {
    max-width: 31px;
    width: 31px;
  }
  .QueSeCelebraHoy {
    padding: 0 8% 0 2%;
    font-size: 1.4em;
  }
  .diasInternacionalesMes .dia,
  .diasInternacionalesMes .dia h3,
  .dias-raros-mes .dia,
  .dias-raros-mes .dia h3,
  .otros-dias-mes .dia,
  .otros-dias-mes .dia h3,
  .santosMes .dia,
  .santosMes .dia h3,
  .efemerides-mes .dia,
  .efemerides-mes .dia h3 {
    font-size: 1.1em;
  }
  .efemerides-mes .dia h3 {
    font-weight: 600;
  }
  .leyendaDias .tipo:before {
    padding-left: 4%;
    margin-left: 5%;
    margin-right: 8px;
  }
  .leyendaDias .leyendaDiaOficial:before {
    margin-left: 0;
  }
}
@media all and (min-width: 600px) {
  .diasInternacionalesMes .dia,
  .santosMes .dia,
  .dias-raros-mes .dia,
  .otros-dias-mes .dia {
    margin-top: 1.4em;
  }
  .efemerides-mes .dia {
    margin-top: 1.2em;
  }
  .diasInternacionalesMes .dia h3,
  .santosMes .dia h3,
  .efemerides-mes .dia h3,
  .dias-raros-mes .dia h3,
  .otros-dias-mes .dia h3 {
    display: inline;
    margin-top: initial;
  }
}
@media all and (min-width: 680px) {
  #contenido {
    margin: 0 2%;
  }
  #pie nav .link {
    float: left;
    width: 29%;
    padding: 0 2%;
    margin: 0;
  }
  .meses div {
    width: 25%;
    margin: 0.3em 2.5%;
    padding: 0.3em 1.5%;
    font-size: 1.2em;
  }
}
@media all and (min-width: 720px) {
  .col3 {
    float: left;
    width: 45%;
    margin: 0 2.5%;
  }
  .col65 {
    float: left;
    width: 64%;
    margin-top: 1.5em;
  }
  .col35 {
    float: right;
    width: 35%;
    margin-top: 1.5em;
  }
  .col50i {
    float: left;
    width: 48.3%;
    margin-top: 1.5em;
  }
  .col50d {
    float: right;
    width: 48.3%;
    margin-top: 1.5em;
  }
}
@media all and (min-width: 768px) {
  .izq {
    float: left;
    width: 65.8%;
  }
  .colDer {
    float: right;
    width: 32%;
    margin-top: 0;
  }
  #botoneraPrincipal {
    display: block;
    height: 37px;
    margin: 40px auto 0;
    max-width: 730px;
  }
  #botoneraPrincipal .nav {
    list-style: none;
    overflow: hidden;
    height: 37px;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 1.1em;
  }
  #botoneraPrincipal .nav li {
    float: left;
    line-height: 37px;
    text-align: center;
    margin: 0 1.4%;
    padding: 0 0.7%;
  }
  #botoneraPrincipal .nav li a {
    display: block;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
  }
  #botoneraPrincipal .nav li:hover,
  #botoneraPrincipal .nav li a:hover {
    color: #a4d04b;
  }
  #botoneraPrincipal .nav li.activo,
  #botoneraPrincipal .nav li.activo a,
  #botoneraPrincipal .nav li.activo a:hover {
    color: #a4d04b;
  }
  #botoneraMobile,
  #cabecera .interactMobile {
    display: none;
  }
  #cabTop {
    position: initial;
    z-index: initial;
    overflow: hidden;
    max-width: 1100px;
    min-height: 41px;
    margin: 0 auto;
    padding-top: 21px;
  }
  #cabecera .fondo {
    height: 185px;
    margin-top: 27px;
  }
  #logo {
    float: left;
    height: 40px;
    margin: 0 0 0 2%;
    padding: 0;
  }
  #cabecera .interact {
    display: block;
    float: right;
    width: 48%;
    height: 40px;
    margin: 0 0 0 1%;
  }
  .interact form {
    float: left;
    width: 50%;
    min-width: 185px;
  }
  #socialmedia {
    display: block;
    float: right;
    width: 180px;
    max-width: 220px;
    height: 40px;
    margin: 0;
  }
  #socialmedia img {
    max-width: 40px;
    margin: 0 7px;
  }
  #cabecera .searchCriteria {
    width: 66%;
    padding: 2px;
    margin: 5px 0 0;
    background-color: #060105;
    font-size: 1.3em;
    color: #e0e0e0;
    border: 2px solid #656465;
    vertical-align: middle;
  }
  #cabecera .doSearch {
    max-width: 29px;
    margin-left: 3%;
    margin: 6px 0 0 3%;
    vertical-align: middle;
  }
  #cabecera .todosDiasInternacionales,
  #cabecera .since {
    font-size: 1em;
  }
  #cabecera .todosDiasInternacionales {
    top: 30px;
  }
  .diasRelacionados.reducido .img {
    float: left;
    width: 33%;
    margin-top: 2em;
  }
  .diasRelacionados.reducido .desc {
    float: left;
    width: 62%;
    margin: 1em auto 0.6em 5%;
  }
  .diasRelacionados .bqDestacado {
    overflow: hidden;
    max-width: initial;
    width: 100%;
    padding: 1em 0;
  }
  .diasRelacionados .bqDestacado .titComp {
    margin: 1.2em 0 0;
    font-size: 1.2em;
  }
  .diasRelacionados .bqDestacado .img,
  #ficha .diasRelacionados .bqDestacado .img {
    float: left;
    width: 33%;
    margin-left: 0;
  }
  .diasRelacionados .bqDestacado .desc {
    float: left;
    width: 62%;
    margin-left: 5%;
  }
  .efemerides-resumen .par {
    clear: both;
    width: 100%;
  }
  .efemerides-resumen .efemeride {
    float: left;
    width: 44%;
    margin: 0.7em 3% 0.4em;
  }
  .como-hoy .pie div {
    float: left;
    width: 44%;
    padding: 1em 3%;
  }
  .efemerides-resumen .par.ultimo .efemeride {
    border: 0;
  }
  .bqPubliV,
  .bqAdsV {
    min-height: 410px;
  }
}
@media all and (min-width: 840px) {
  #cabecera .interact {
    width: 52%;
    margin: 0 0 0 1%;
  }
  #cabecera .searchCriteria {
    width: 76%;
  }
}
@media all and (min-width: 1024px) {
  body {
    font-size: 18.5px;
  }
  .col3 {
    width: 28.3%;
    margin: 0 1%;
  }
  #logo {
    max-width: 434px;
    height: initial;
  }
  #cabecera .wrap {
    height: auto;
    margin: 0 auto;
  }
  #cabecera .fondo {
    margin-top: 40px;
  }
  #cabecera .interact {
    width: 45%;
    margin: 0 0 0 9%;
  }
  .interact form {
    width: 60%;
  }
  #cabecera .searchCriteria {
    width: 60%;
    max-width: 500px;
    padding: 4px;
    font-size: 1.4em;
  }
  #cabecera .doSearch {
    max-width: 40px;
    vertical-align: middle;
  }
  #botoneraPrincipal {
    margin: 60px auto 0;
    max-width: 930px;
  }
  #botoneraPrincipal .nav {
    font-size: 1.25em;
  }
  #botoneraPrincipal .nav li {
    margin: 0 1.9%;
    padding: 0 0.8%;
  }
  #cabecera .since {
    font-weight: 600;
    font-size: 1.1em;
  }
  .subNav {
    margin-top: 175px;
  }
  .bqDestacado {
    overflow: hidden;
    max-width: initial;
    width: 100%;
    padding: 0.5em 0;
  }
  .bqDestacado .titComp {
    margin: 1.2em 0 0;
    font-size: 1.2em;
  }
  #ficha .bqDestacado .img,
  #fichaDia .bqDestacado .img,
  .bqDestacado .img {
    float: right;
    width: 34%;
    margin-left: 3%;
  }
  .bqDestacado .desc {
    float: left;
    width: 63%;
  }
  .bqDestacado.estrecho .img {
    width: 45%;
    margin-left: 3%;
  }
  .bqDestacado.estrecho .desc {
    float: left;
    width: 52%;
  }
  .bqDestacado.estrecho .titComp {
    margin: 0.5em 0 0;
  }
  .anyos .bqDestacado {
    margin-top: 1.5em;
  }
  .anyos .bqDestacado .titComp {
    margin-top: 0;
  }
  .bqPubliV {
    min-height: 412px;
  }
}
@media all and (min-width: 1280px) {
  .bqDestacado {
    max-width: 920px;
    margin-left: 0;
  }
  .meses div {
    width: 19.2%;
    margin: 0.5em 1.9%;
    padding: 0.3em 1%;
    font-size: 1.25em;
  }
}
.santos {
  clear: both;
  width: 100%;
  margin: 1.5em 0 0;
  font-weight: 700;
  font-size: 1.15em;
  font-weight: 600;
}
.srchCriteria {
  width: 66%;
  max-width: 250px;
  padding: 2px;
  margin: 5px 0 0;
  font-size: 1.3em;
  background-color: #eff0ee;
  border: 1px solid #dcdcdc;
}
.cajaBusquedaSantoral {
  clear: both;
  margin-top: 2.2em;
}
.cajaBusquedaSantoral .inputs {
  margin-top: 0.5em;
}
@media (min-width: 1024px) {
  .cajaBusquedaSantoral .lbl {
    display: inline;
  }
  .cajaBusquedaSantoral .inputs {
    display: inline;
    margin: 0 0 0 6%;
  }
  .srchCriteria {
    width: 30%;
  }
}
#fichaDia,
#ficha {
  clear: both;
  width: 98%;
  padding: 0 0 1% 2%;
  overflow: hidden;
  color: #363636;
  background-color: #fff;
}
#fichaDia .datos,
#ficha .datos {
  clear: both;
  margin-top: 1.5em;
}
#fichaDia .datos div,
#ficha .datos div {
  color: #4a8ad8;
  line-height: 1.7em;
  font-weight: 600;
}
#ficha .datos .seCelebraEn {
  color: #ff8000;
}
#ficha .datos .seCelebraEn a {
  color: #ff8000;
  text-decoration: underline;
}
#fichaDia .cuerpo,
#ficha .cuerpo {
  clear: both;
  margin-top: 5%;
}
#fichaDia .cuerpo h2,
#ficha .cuerpo h2,
#contenidoPatrocinador h2,
.cp-content h2 {
  margin-top: 1.8em;
}
#fichaDia .cuerpo h3,
#ficha .cuerpo h3,
.cp-content h3,
#fichaDia .cuerpo h4,
#ficha .cuerpo h4,
.cp-content h4 {
  font-weight: 600;
}
#fichaDia .cuerpo p,
#ficha .cuerpo p,
#contenidoPatrocinador p,
.cp-content p,
#fichaDia .cuerpo li,
#ficha .cuerpo li,
#contenidoPatrocinador li,
.cp-content li {
  line-height: 1.6em;
  padding-right: 1.5%;
}
#fichaDia .cuerpo li,
#ficha .cuerpo li,
#contenidoPatrocinador li,
.cp-content li {
  margin-top: 0.5em;
}
#fichaDia .cuerpo a,
#ficha .cuerpo a,
#contenidoPatrocinador a,
.cp-content a {
  color: #4a8ad8;
  font-weight: 600;
}
#fichaDia .cuerpo figure,
#ficha .cuerpo figure,
#contenidoPatrocinador figure,
.cp-content figure {
  max-width: 650px;
  margin: 1em auto 0.5em;
}
#fichaDia .cuerpo figcaption,
#fichaDia .cuerpo .videocaption,
#ficha .cuerpo figcaption,
#ficha .cuerpo .videocaption,
.cp-content figcaption,
.cp-content .videocaption {
  margin-top: 7pt;
  text-align: left;
  color: #363636;
  font-size: 0.9em;
  font-style: italic;
  font-weight: 600;
}
#fichaDia .cuerpo strong,
#fichaDia .cuerpo b,
#ficha .cuerpo strong,
#ficha .cuerpo b,
.cp-content strong {
  font-weight: 600;
}
#ficha .mainImage {
  max-width: 350px;
  margin: 1em auto;
  padding: 0 1%;
}
#ficha .mainImage img {
  max-width: 305px;
}
#ficha .socialmedia {
  width: 100%;
  margin: 0 auto;
}
#ficha .socialmedia div {
  color: #4a8ad8;
  font-size: 1.15em;
  font-weight: 600;
  text-align: center;
}
#ficha .socialmedia nav {
  margin: auto;
  text-align: center;
}
#ficha .socialmedia nav img {
  width: 40px;
  height: 40px;
  margin: 20px 4% 0 0;
}
#ficha .socialmedia nav img.sus {
  width: 164px;
  height: 34px;
  margin: 20px 0 0 2%;
  clear: both;
}
#ficha .tags {
  clear: both;
  margin: 0.6em 0;
  overflow: hidden;
}
#ficha .et {
  float: left;
  font-size: 0.9em;
  font-weight: 600;
  margin-top: 0.7em;
}
#ficha .tags a {
  display: block;
  float: left;
  cursor: pointer;
  margin: 0.5em 0 0 0.8em;
  font-weight: 600;
  padding: 0.25em 0.5em;
  background-color: #4a8ad8;
  color: #fff;
  font-size: 0.85em;
  text-decoration: none;
}
#ficha .cuerpo.trans h2 {
  color: #da6d38;
}
#ficha .trans p a {
  color: #3b62ba;
  text-decoration: underline;
}
.wrap-comparativa {
  clear: both;
  margin-top: 4em;
}
.wrap-comparativa h2 {
  text-align: center;
}
#ficha .tb-comparativa {
  margin: auto;
  font-family: open sans, Helvetica, sans-serif;
  font-style: normal;
  font-size: 18px;
}
#ficha .tb-comparativa td.nombre {
  font-size: 1em;
  text-align: center;
}
#ficha .trans .tb-comparativa a {
  color: #363636;
  text-decoration: none;
}
#ficha .trans .tb-comparativa .btnVerPrecio {
  font-size: 1em;
  padding: 0.5em;
  font-weight: 400;
  color: #fff;
}
.btnVerPrecio,
#ficha .trans .btnVerPrecio {
  cursor: pointer;
  padding: 0.6em 1em;
  background-color: #f98101;
  color: #fff;
  font-weight: 600;
  font-size: 1.2em;
  text-decoration: none;
}
#ficha .trans .btnVerPrecio:hover {
  text-decoration: none;
}
#ficha .cuerpo .producto h3 {
  margin: 2em 0 0;
  font-size: 1.15em;
  color: #3b62ba;
  text-align: center;
}
#ficha .cuerpo .producto h3 a {
  color: #3b62ba;
}
#ficha .cuerpo .producto .verPrecio {
  clear: both;
  padding: 2em 0 0;
  text-align: center;
}
#summaryTableContents {
  clear: both;
  margin: 0.5em auto 2.2em;
  width: 100%;
  background-color: #f2f1f1;
  border: 1px solid #dcdcdc;
  padding: 2%;
}
#summaryTableContents h2.cab {
  margin: 0;
  font-size: 1.1em;
  text-align: center;
}
#summaryTableContents ul.lev1 {
  list-style: none;
  margin: 1em 0 0;
  padding: 0 0 0 3%;
}
#summaryTableContents ul.lev1 li {
  margin-top: 0.3em;
  line-height: 1.5em;
}
#summaryTableContents ul.lev1 h2,
ul h2 {
  font-size: 1em;
  margin: 0;
}
#summaryTableContents ul.lev1 h3,
ul h3 {
  font-size: 1em;
}
#summaryTableContents ul.lev1 h2 a,
ul.lev1 h3 a {
  font-weight: 400;
}
#summaryTableContents ul.lev2 {
  list-style: none;
}
#summaryTableContents ul.lev1 a,
#summaryTableContents ul.lev2 a {
  text-decoration: none;
  color: #111;
}
.cuerpo.trans #summaryTableContents {
  border: 0;
  background-color: #e2ffe2;
}
.cuerpo .reading-time {
  clear: both;
  font-style: italic;
  font-size: 0.9em;
}
@media (min-width: 450px) {
  #fichaDia,
  #ficha {
    width: 90%;
    padding: 0 5% 1%;
  }
  #fichaDia .cuerpo figure,
  #ficha .cuerpo figure {
    margin: 2em auto 1.5em;
  }
}
@media (min-width: 1024px) {
  #ficha .mainImage {
    float: left;
    width: 54%;
    margin: 1em 5% 1em 0;
  }
  #ficha .socialmedia {
    float: left;
    max-width: 39%;
    margin: 20px 0 0;
  }
}
@media (min-width: 1280px) {
  #summaryTableContents {
    width: 90%;
  }
  .cuerpo .reading-time {
    padding-left: 3%;
  }
}
.iframe-container {
  clear: both;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  margin-top: 1em;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
form div.row {
  font-size: 11pt;
  width: 99%;
  min-height: 35px;
}
form label {
  float: left;
  width: 34%;
  margin-right: 4%;
  line-height: 20pt;
  color: #000;
  vertical-align: middle;
  text-align: left;
}
div.row input,
div.row textarea {
  color: #000;
  background-color: #eff0ee;
  border: 1px solid #dcdcdc;
  padding-left: 1%;
}
form .boton {
  position: relative;
  z-index: 2;
  border: 2px solid #295fb8;
  background-color: #295fb8;
  font-weight: 400;
  color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px;
  behavior: url(ie-css3.htc);
}
form .row .extend {
  width: 95%;
  text-align: center;
}
.rounded-corners {
  position: relative;
  z-index: 2;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
  behavior: url(css/ie-css3.htc);
}
.rounded-corners2,
.rc2 {
  position: relative;
  z-index: 2;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -khtml-border-radius: 4px;
  behavior: url(css/ie-css3.htc);
}
#calendario {
  padding-top: 0.5em;
  overflow: none;
}
.anyos {
  width: 100%;
}
.anyos .row,
.decenios .row {
  margin-top: 1em;
}
.anyos .rowAnyo,
.decenios .rowAnyo {
  overflow: hidden;
  width: 100%;
  margin-top: 0.5em;
}
.anyos .celdaAnyo,
.decenios .celdaAnyo {
  font-weight: 600;
  color: #0258a1;
  margin-top: 0.2em;
  font-size: 1.1em;
}
.anyos .celdaCont h2,
.anyos .celdaCont h3,
.decenios h3 {
  margin: 0.3em 0;
  color: #3b3b3b;
  font-size: 1.1em;
}
.anyos h2 span {
  font-size: 0.9em;
  margin-left: 8pt;
}
@media all and (min-width: 1024px) {
  .anyos .celdaAnyo {
    float: left;
    width: 4%;
    margin-top: 0.3em;
    text-align: right;
    padding-right: 5%;
  }
  .anyos .celdaCont {
    float: right;
    width: 87%;
    padding-left: 5pt;
  }
}
.bg-modal {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 100;
  background-color: #777;
  opacity: 0.7;
}
.bodyBlock {
  overflow: hidden;
}
#cabTop.sticky {
  min-height: 31px;
  padding-top: 3px;
}
#cabTop.sticky #logo {
  max-width: 235px;
  margin-left: 3%;
}
#cabTop.sticky .interactMobile {
  margin-top: 3px;
}
.botoneraMobile.botoneraSticky {
  margin-top: 34px;
}
@media all and (min-width: 540px) {
  #cabTop.sticky {
    min-height: 44px;
  }
  #cabTop.sticky #logo {
    max-width: 350px;
    margin-top: 0;
  }
  #cabTop.sticky .interactMobile {
    margin-top: 6px;
  }
  .botoneraMobile.botoneraSticky {
    margin-top: 47px;
  }
}
.back-to-top {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 4%;
  z-index: 999;
  width: 40px;
  height: 40px;
  margin: 0;
  text-decoration: none;
}
.back-to-top img {
  width: 40px;
}
.back-to-top i {
  font-size: 60px;
}
@media all and (min-width: 768px) {
  .back-to-top {
    display: none;
  }
}
.productosRecomendados {
  clear: both;
  width: 100%;
  overflow: hidden;
  margin-top: 2em;
}
.productosRecomendados .productos {
  clear: both;
  width: 90%;
  margin-top: 0.3em;
  padding: 1.3em 5% 1.2em;
  background-color: #fff;
}
.productosRecomendados .resumen {
  line-height: 1.6em;
  font-weight: 600;
  color: #3b3b3b;
}
.paginacion {
  clear: both;
  width: 250px;
  height: 80px;
  margin: 3em auto;
  font-size: 1.4em;
  font-weight: 600;
}
.paginacion a {
  color: #7e7e7e;
}
.paginacion a:hover {
  text-decoration: none;
}
.paginacion .pag {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 2%;
  line-height: 40px;
  text-align: center;
  background-color: #e2e2e2;
  -moz-border-radius: 20px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}
.paginacion .ant,
.paginacion .sig {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #e2e2e2;
  font-size: 2em;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
.paginacion .selected {
  background-color: #595959;
}
.paginacion .selected a {
  color: #f0f0f0;
}
b,
strong {
  font-weight: 600;
}
.naranja {
  color: #ff8000;
}
.azul,
.diaOficial {
  color: #0258a1;
}
.verde,
.diaPopular,
#ficha .cuerpo .dia .diaPopular {
  color: #5f8b03;
}
.celeste {
  color: #0286c3;
}
.enero {
  background-color: #a1ebe7;
}
.febrero {
  background-color: #86e0db;
}
.marzo {
  background-color: #86d2e0;
}
.abril {
  background-color: #c9b4f3;
}
.mayo {
  background-color: #e5b4f3;
}
.junio {
  background-color: #e4d46a;
}
.julio {
  background-color: #f48d5a;
}
.agosto {
  background-color: #fc5029;
}
.septiembre {
  background-color: #df7a49;
}
.octubre {
  background-color: #b86923;
}
.noviembre {
  background-color: #76eed9;
}
.diciembre {
  background-color: #b5f1ee;
}
.semibold {
  font-weight: 600;
}
.subrayado {
  text-decoration: underline;
}
.italic {
  font-style: italic;
}
.inputWPAcept {
  width: 25px;
  height: 25px;
  background-color: #eee;
  vertical-align: middle;
}
#subscriptionUI {
  position: fixed;
  display: block;
  z-index: 110;
  bottom: 1px;
  left: 0;
  width: 100%;
  padding-bottom: 1em;
  background-color: #d3eba1;
}
#subscriptionUI span {
  font-size: 1.1em;
  margin-left: 5pt;
}
#subscriptionUI .content {
  padding: 1% 5%;
  border-top: 1px solid #f2f1f1;
}
#subscriptionUI a {
  color: #000;
}
#subscriptionUI .newsletter {
  padding: 20px 6% 1%;
  text-align: center;
}
#subscriptionUI .close {
  position: absolute;
  right: 0;
  top: 0;
  margin: 8px 20px 15px 15px;
  font-size: 1.1em;
  font-weight: 700;
}
@media all and (min-width: 640px) {
  #subscriptionUI .newsletter {
    padding: 3% 6% 1%;
  }
}
#subscriptionUI .sus {
  vertical-align: middle;
  margin-bottom: 10px;
}
#subscriptionUI .txt {
  margin-left: 10px;
  line-height: 1.9em;
}
.bqDestacadoV.suscribete {
  background: #fff url(../imagenes/banners/suscribete/bgSuscribete.png)
    no-repeat center;
}
.btnJoin {
  text-align: center;
}
.btnJoin img {
  -webkit-box-shadow: 0 15px 8px -12px rgba(0, 0, 0, 0.9);
  box-shadow: 0 15px 8px -12px rgba(0, 0, 0, 0.9);
}
.bannerSuscribete {
  width: 100%;
  max-width: 1024px;
  padding-top: 1px;
  margin: auto;
  min-height: 300px;
  background: url(../imagenes/banners/suscribete/bgWideMobile.png) no-repeat
    center;
}
.bannerSuscribete .btnJoin.newsletter {
  margin-top: 85px;
}
.bannerSuscribete .btnJoin.telegram,
.bannerSuscribete .btnJoin.webpush {
  margin-top: 35px;
}
@media all and (min-width: 780px) {
  .bannerSuscribete {
    min-height: 180px;
    background: url(../imagenes/banners/suscribete/bgWidePC.png) no-repeat
      center;
  }
  .bannerSuscribete .btnJoin {
    display: inline-block;
    width: 30.5%;
  }
  .bannerSuscribete .btnJoin.newsletter,
  .bannerSuscribete .btnJoin.telegram,
  .bannerSuscribete .btnJoin.webpush {
    margin: 90px 0 0 2%;
  }
}
.colDer .adversiting {
  margin-top: 1.5em;
  clear: both;
  width: 90%;
  min-height: 200px;
  padding: 2em 5%;
  text-align: center;
  background-color: #fff;
}
#ficha .patrocinador {
  clear: both;
  width: 100%;
  margin-top: 2.5em;
  padding: 3% 1%;
  border-top: 1px solid #e7e5e5;
  border-bottom: 1px solid #e7e5e5;
}
#ficha .patrocinador .patrocina {
  font-size: 1.3em;
  color: #003964;
}
#ficha .patrocinador .logo {
  margin-top: 1em;
}
#ficha .patrocinador .logo img {
  max-width: 217px;
}
#ficha .patrocinador .lnk {
  font-size: 0.9em;
  margin-top: 1em;
  max-width: 300px;
  line-height: 1.7em;
}
#ficha .patrocinador .flechaDer {
  max-width: 40px;
  margin-left: 8px;
  vertical-align: middle;
}
#ficha #contenidoPatrocinador {
  clear: both;
  max-width: 650px;
  margin: 2.5em auto 0;
}
@media (min-width: 1024px) {
  #ficha .patrocinador .patrocina {
    float: left;
  }
  #ficha .patrocinador .logo {
    float: left;
    margin: 0 0 0 10%;
  }
}
#fixed-top {
  position: fixed;
  display: block;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(244, 244, 244, 0.3);
}
#fixed-top picture {
  margin: auto;
  padding: 0;
  position: relative;
}
#fixed-top img {
  margin: auto;
}
#fixed-top .close {
  position: absolute;
  right: 0;
  margin: 1px 25% 0 0;
}
.rowwrap {
  overflow: hidden;
  margin: 0;
}
@media (min-width: 768px) {
  .rowwrap .col3:nth-child(odd) {
    clear: left;
  }
  .rowwrap .col3:nth-child(even) {
    clear: right;
  }
}
@media (min-width: 1024px) {
  .rowwrap .col3:nth-child(3n + 2) {
    clear: initial;
  }
  .rowwrap .col3:nth-child(3n + 1) {
    clear: left;
  }
  .rowwrap .col3:nth-child(3n + 3) {
    clear: right;
  }
}
.rowForm {
  clear: both;
  width: auto;
  margin-top: 10px;
}
.fsMedium {
  font-size: 13pt;
}
.bqDiaTienda {
  clear: both;
  margin-top: 2em;
}
.bqDiaTienda h2 {
  color: #295fb8;
  font-weight: 600;
}
.bqDiaTienda h2 a {
  color: #295fb8;
}
.wrapProducts {
  overflow: hidden;
}
.wrapProducts .bqProducto:hover {
  box-shadow: 0 0 20px #ddd;
  border: 1px solid #999;
}
.wrapProducts .col {
  float: left;
  width: 100%;
}
.wrapProducts .bqProducto {
  max-width: 170px;
  min-height: 100px;
  margin: 1.2em auto 0;
  padding: 5px 5px 0;
  text-align: center;
  border: 1px solid #e0e0e0;
}
.wrapProducts .bqProducto figure {
  width: 100%;
  height: 210px;
  margin: auto;
  padding: 0;
}
.wrapProducts .bqProducto figure img {
  width: auto;
  max-height: 100%;
  vertical-align: top;
}
.wrapProducts .bqProducto h3 {
  font-size: 11pt;
  font-weight: 400;
  color: #363636;
}
@media all and (min-width: 425px) {
  .wrapProducts .col {
    width: 49.5%;
  }
  .wrapProducts .bqProducto {
    max-width: 185px;
  }
}
@media all and (min-width: 1024px) {
  .fsMedium {
    font-size: 14pt;
  }
  .wrapProducts .col {
    width: 33.2%;
  }
  .wrapProducts .bqProducto {
    max-width: 175px;
  }
  .wrapProducts .bqProducto figure {
    height: 230px;
  }
}
@media all and (min-width: 1280px) {
  .wrapProducts .col {
    width: 24.9%;
  }
}
.title {
  width: 100%;
  margin: 1em 0;
  text-align: center;
}
.wrapMes {
  margin-top: 2em;
}
.cal {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  background-color: #fafcf9;
}
.cal tbody td {
  text-align: center;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}
.cal tbody tr:first-child td {
  border-top: 1px solid #eee;
}
.cal tbody td:first-child {
  border-left: 1px solid #eee;
}
.cal tbody td > div {
  padding: 6px;
}
.festivo {
  background: #cb2a2a;
  color: #fff;
}
.festivo.autonomia {
  background: #3b62ba;
}
.festivo.local {
  background: #ffa022;
}
.habil {
  background: #aaa;
}
.diaSel {
  background: #ff8000;
}
.tituloDia {
  margin-top: 0.3em;
  font-size: 0.9em;
  color: #cb2a2a;
}
.tituloDia.autonomia,
tipo.azul {
  color: #0043bd;
}
.tituloDia.local,
tipo.naranja {
  color: #ffa022;
}
.boxer {
  overflow: hidden;
  clear: both;
  margin: 0.6em 0;
}
.boxer > h3 {
  float: left;
  margin: 0.5em;
  padding: 0.2em 0.5em;
  text-align: center;
  background-color: #dcdcdc;
}
.boxer .selected {
  background-color: #0286c3;
}
.boxer .selected a {
  color: #fff;
}
.leyendaDias .tipo.dfestivo:before {
  background-color: #cb2a2a;
  margin-left: 0;
}
.leyendaDias .tipo.dautonomia:before {
  background-color: #3b62ba;
}
.leyendaDias .tipo.dlocal:before {
  background-color: #ffa022;
}
.leyendaDias .tipo.dhabil:before {
  background-color: #aaa;
}
.leyendaDias .tipo.dfestivo {
  color: #cb2a2a;
}
.leyendaDias .tipo.dautonomia {
  color: #3b62ba;
}
.leyendaDias .tipo.local {
  color: #ffa022;
}
.leyendaDias.municipal .tipo {
  display: block;
  margin-top: 7px;
}
.leyendaDias .tipo.dfestivo:before {
  margin-left: 4%;
}
.municipios-autonomia {
  list-style: none;
}
.municipios-autonomia a {
  font-weight: 600;
  text-decoration: underline;
}
.cabVistaDia #summaryTableContents {
  width: 95%;
}
.cabVistaDia .wrapMes {
  float: initial;
  width: auto;
  margin: 0 auto;
  min-height: initial;
}
.calendario-mes {
  clear: both;
  margin-top: 2em;
}
.calendario-mes .wrapMes .title {
  margin-top: 0;
  font-weight: 600;
}
#contenido .calendario-mes .wrapMes {
  float: initial;
  max-width: 400px;
  width: 90%;
  min-height: auto;
  margin: 0 auto 1.5em;
}
#contenido .izq .calendario-mes .wrapMes {
  float: initial;
  max-width: 400px;
  width: 90%;
  min-height: auto;
  margin: 0 auto 1.5em;
}
@media (min-width: 540px) {
  .leyendaDias .tipo.dfestivo:before {
    margin-left: 5%;
  }
}
@media (min-width: 680px) {
  .wrapMes {
    float: left;
    width: 42%;
    margin: 1em 4% 0;
    min-height: 390px;
  }
  .leyendaDias.municipal .tipo {
    display: inline;
  }
  .leyendaDias .tipo.dfestivo:before {
    margin-left: 0;
  }
}
@media (min-width: 720px) {
  .cabVistaDia #summaryTableContents {
    float: left;
    width: 48%;
  }
  .cabVistaDia .wrapMes {
    float: left;
    width: 38%;
    margin: 0 1% 0 5%;
  }
}
@media (min-width: 768px) {
  .calendario-mes {
    overflow: hidden;
  }
  #contenido .calendario-mes .wrapMes {
    float: left;
    width: 44%;
    margin: 0 3%;
  }
}
@media (min-width: 1024px) {
  .wrapMes {
    width: 29%;
    margin: 1em 2% 0;
    min-height: 400px;
  }
  .cabVistaDia #summaryTableContents {
    float: left;
    width: 55%;
  }
  .cabVistaDia .wrapMes {
    float: left;
    width: 33%;
    margin: 0 1% 0 5%;
  }
  #contenido .izq .calendario-mes .wrapMes {
    float: left;
    width: 44%;
    margin: 0 3%;
  }
}
.triAnterior {
  display: block;
  float: left;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-right: 13px solid #000;
}
.triAnterior:hover {
  border-right: 13px solid #888;
}
.triSiguiente {
  display: block;
  float: right;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 13px solid #000;
}
.triSiguiente:hover {
  border-left: 13px solid #888;
}
#cal-mes-izq .triSiguiente,
#cal-mes-der .triAnterior {
  display: none;
}
.mes-lunar {
  clear: both;
  margin-top: 3em;
}
.mes-lunar .cal {
  max-width: initial;
}
.mes-lunar .title {
  margin-top: 0;
  font-weight: 600;
  color: #555;
}
.mes-lunar td {
  overflow: hidden;
  width: 14%;
  max-width: 100px;
  white-space: nowrap;
}
.mes-lunar td img {
  margin-top: 5px;
}
.mes-lunar .hito-lunar {
  border: 2px solid #555;
}
.mes-lunar .today {
  border: 2px solid #4a4ebd;
}
.mes-lunar .triAnterior {
  margin-left: 10%;
}
.mes-lunar .triSiguiente {
  margin-right: 10%;
}
.mes-lunar td div {
  font-size: 1.4em;
  font-weight: 600;
}
.wait-spin {
  position: relative;
  z-index: 9999;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.wait-spin::after {
  content: "";
  display: block;
  position: absolute;
  left: 45%;
  top: 45%;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-color: #000;
  border-top-color: transparent;
  border-width: 4px;
  border-radius: 50%;
  -webkit-animation: spin 0.8s linear infinite;
  animation: spin 0.8s linear infinite;
}
